<section class="postList row pt-5 px-5 w-100">
  <div *ngFor="let p of postList" class="postItem col-lg-6 pt-5">
    <a class="readMoreButton d-block mb-5 d-flex position-relative" routerLink="/detail" [queryParams]="{id : p.blogId, commentPage:1}">
      <div *ngIf="p.imgUrl != ''" class="imgThumbWrapper pr-3">
        <img src="{{apiStaticFileURL+p.imgUrl}}" />
      </div>
      <div *ngIf="p.imgUrl == ''" class="imgThumbWrapper pr-3">
        <img src="https://st2.depositphotos.com/1000423/10227/i/950/depositphotos_102276346-stock-photo-question-mark-on-curcuit-board.jpg"
        />
      </div>
      <div class="w-100 pr-2">
        <div class="postName my-2 font-weight-bold">{{p.name}}</div>
        <div>
          <div class="postShortDescription ellips-text-3 ">{{p.description}}</div>
          <div class="d-flex justify-content-between">
            <p class="postAuthor text-muted text-left mb-0">{{p.authorId}}</p>
            <p class="postCreationDate text-muted text-right mb-0">{{p.creationDate}}</p>
          </div>
        </div>
      </div>
      <div class="commentCount">{{p.totalComment}}</div>
    </a>
  </div>
</section>
<app-pagging
  *ngIf="pagingModel && postList.length > 0"
  [totalPage]="pagingModel.totalPage"
  [currentPage]="pagingModel.currentPage"
  [isDetail] = true
  ></app-pagging>

