<div class="p-5">
  <div *ngIf="statistical" class="bg-white-trans rounded shadow p-5 mt-5">
    <h1>Statistical</h1>
    <p>Total post: {{statistical.totalBlog}}</p>
    <p>Total comment: {{statistical.totalComment}}</p>
    <p>Total user: {{statistical.totalUser}}</p>
  </div>
</div>
