  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
        <div class="px-5 w-100 d-flex">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Long's Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                      <a routerLink="/" routerLinkActive="/" class="nav-link text-white">Home</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/create" routerLinkActive="create" class="nav-link text-white">Create Blog</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/admin" routerLinkActive="/admin" class="nav-link text-white">Admin page</a>
                    </li>
                </ul>
                <ul *ngIf="account._value.account.UserId == ''; else ngElse" class="navbar-nav">
                    <li class="nav-item">
                      <a routerLink="/register" routerLinkActive="register" class="nav-link text-white">Register</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/login" routerLinkActive="login" class="nav-link text-white">Login</a>
                    </li>
                </ul>
                <ng-template #ngElse>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a routerLink="/" routerLinkActive="" class="nav-link text-white">{{account._value.account.UserName}}</a>
                  </li>
                  <li class="nav-item">
                    <a (click)="logOut()" class="nav-link text-white pointer">Logout</a>
                  </li>
                </ul>
                </ng-template>
            </div>
        </div>
    </nav>
</header>
