<div *ngIf="isDetail" class="paging w-100">
  <div class="center">
    <div class="pagination">
      <a routerLink="/list" [queryParams]="{page : carretLeftBtnPage}">&laquo;</a>
      <a *ngFor="let p of pageBtns"
        routerLink="/list"
        [queryParams]="{page : p}"
        [ngClass]="{'active': p == currentPage}"
        >{{p}}</a>
      <a routerLink="/list" [queryParams]="{page : carretRightBtnPage}">&raquo;</a>
    </div>
  </div>
</div>

<div *ngIf="isDetail == false" class="paging w-100">
  <div class="center">
    <div class="pagination">
      <a routerLink="/detail" [queryParams]="{commentPage : carretLeftBtnPage, id : detailBlogId}">&laquo;</a>
      <a *ngFor="let p of pageBtns"
        routerLink="/detail"
        [queryParams]="{commentPage : p, id : detailBlogId}"
        [ngClass]="{'active': p == currentPage}"
        >{{p}}</a>
      <a routerLink="/detail" [queryParams]="{commentPage : carretRightBtnPage, id : detailBlogId}">&raquo;</a>
    </div>
  </div>
</div>
