<div class="pt-5" *ngIf="detailPost">
  <div class="bg-white-trans mx-5 rounded shadow pb-5 px-5 pt-5 mt-5">
    <div class="detailBlog">
      <h1 class="shadow p-2">{{detailPost.blogDetail.name}}</h1>
      <p class="text-muted text-sm-left">{{detailPost.blogDetail.creationDate}}</p>
      <div *ngIf="detailPost.blogDetail.imgUrl != ''" class="img-container my-3 mx-auto">
        <img class="shadow" src="{{apiStaticFileURL+detailPost.blogDetail.imgUrl}}" />
      </div>
      <p class="p-2">{{detailPost.blogDetail.description}}</p>
      <div class="d-flex justify-content-end">
        <p class="text-muted">{{detailPost.blogDetail.authorName}}</p>
      </div>
      <div *ngIf="canIDeleteBlog()" class="w-100 d-flex justify-content-end">
        <button (click)="deleteBlog(detailPost.blogDetail.blogId)" class="btn btn-sm btn-danger shadow">Delete this post</button>
      </div>
    </div>
    <hr />
    <div class="comments mb-5">
      <div *ngIf="isLogined() == true" >
        <div class="addCommentBox shadow">
          <div class="input-group mb-3">
            <input #commentInput name="comment" type="text" class="form-control border-0" placeholder="Type your comment..." aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button (click)="createComment(commentInput.value)" type="submit" class="bg-transparent border-0 p-0">
                <span class="sendCommentButton input-group-text" id="basic-addon2">&#10148;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isLogined() == false" class="addCommentBox shadow">
        <div class="input-group mb-3">
          <input disabled name="comment" type="text" class="form-control border-0" placeholder="Login to type your comment" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button disabled type="submit" class="bg-transparent border-0 p-0">
              <span class="sendCommentButton input-group-text" id="basic-addon2">&#10148;</span>
            </button>
          </div>
        </div>
      </div>
      <div *ngFor="let c of detailPost.blogDetail.comments" class="otherComment p-2 bg-white round shadow mb-2">
        <div class="d-flex">
          <div class="commentAvatar">
            <img width="50" height="50" src="https://image.flaticon.com/icons/png/512/147/147140.png" />
          </div>

          <div class="commentAuthor d-flex align-items-center">
              <p class="mb-0 pl-2 text-danger">
                  #{{c.authorName}}
              </p>
            <div *ngIf="canIDeleteThisComment(c.authorId)">
              <button type="button" (click)="deleteComment(c.commentId)" class="badge badge-danger deleteCommentBadge border-0 ml-2">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14"
                  role="img" viewBox="0 0 448 512" style="&#10;    color: white;&#10;">
                  <path fill="currentColor" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <p class="commentContent pl-5">
          {{c.content}}
        </p>
      </div>
    </div>
    <app-pagging
      [totalPage]="detailPost.totalPage"
      [currentPage]="commentPage"
      [detailBlogId]="id"
    ></app-pagging>
  </div>
</div>
