<div class="p-5">
  <div class="pb-3 bg-white-trans p-5 px-0 rounded shadow mb-5 mt-5">
    <h1>Log in</h1>
    <div class="row">
      <div class="col-md-4">
        <section>
          <div id="account">
            <h4>Use a local account to log in.</h4>
            <hr>
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
              <ul>
                <li style="display:none"></li>
              </ul>
            </div>
            <div class="form-group">
              <label for="Input_Email">Email</label>
              <input #email class="form-control valid" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address."
                data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="" aria-describedby="Input_Email-error"
                aria-invalid="false">
            </div>
            <div class="form-group">
              <label for="Input_Password">Password</label>
              <input #pass class="form-control valid" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password"
                name="Input.Password" aria-describedby="Input_Password-error" aria-invalid="false">
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label for="Input_RememberMe">
                  <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe"
                    value="true"> Remember me?
                </label>
              </div>
            </div>
            <div class="form-group">
              <button (click)="login(email.value, pass.value)" id="login-submit" type="submit" class="btn btn-primary">Log in</button>
            </div>
            <div class="form-group">
              <p>
                <a href="/register">Register as a new user</a>
              </p>
            </div>
            <input name="Input.RememberMe" type="hidden" value="false">
          </div>
        </section>
      </div>
      <div class="col-md-6">
        <p class="text-danger">{{loginStatus}}</p>
      </div>
    </div>
  </div>
</div>
