<div class="p-5">
  <div class="pb-3 bg-white-trans p-5 px-0 rounded shadow mb-5 mt-5" id="pageBody">

    <h1>Register</h1>

    <div class="row">
      <div class="col-md-4">
        <div id="registerForm" method="post">
          <h4>Create a new account.</h4>
          <hr>
          <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
            <ul>
              <li style="display:none"></li>
            </ul>
          </div>
          <div class="form-group">
            <label for="Input_Email">Email</label>
            <input #email class="form-control" type="email" data-val="true" id="Input_Email" name="Input.Email" value="">
          </div>
          <div class="form-group">
            <label for="Input_Password">Password</label>
            <input #pass1 class="form-control" type="password" data-val="true" id="Input_Password" maxlength="100" name="Input.Password">
          </div>
          <div class="form-group">
            <label for="Input_ConfirmPassword">Confirm password</label>
            <input #pass2 class="form-control" type="password" data-val="true" name="Input.ConfirmPassword">
          </div>
          <button (click)="register(email.value, pass1.value, pass2.value)" id="registerSubmit" type="button" class="btn btn-primary">Register</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mt-4 pt-2">
            <p class="text-danger" *ngFor="let e of registerError">
              {{e.description}}
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
