<div class="p-5">
  <div class="pb-3 bg-white-trans p-5 px-0 rounded shadow p-5 mt-5">
    <h1 class="text-danger">Access denied</h1>
    <p class="text-danger">You do not have access to this resource.</p>
  </div>
</div>
