/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
    background: #00000085;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.footer {
    background: #00000085;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.background {
    background-image: url("assets/Img/background.jpg");
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform:scaleX(-1);
}

.fog {
    background-image: url("/Img/fog.png");
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    animation-name: backgroundScroll;
    animation-duration: 2000s;
    animation-iteration-count:infinite;
    animation-fill-mode:none;
    opacity: 0.2;
}

@keyframes backgroundScroll {
    0% {
        background-position-x: -10000px;
    }

    50% {
        background-position-x: 10000px;
    }

    100% {
        background-position-x: -10000px;
    }
}

.postItem {
    padding: 1.25px 25px;
}

.postItem .readMoreButton {
    background: rgba(255, 255, 255, 0.91);
    border-radius: 6px;
    box-shadow: 3px 3px 9px #0000008f;
}

.postItem .readMoreButton:hover {
    text-decoration: none;
    color: red !important;
}

.postItem:hover .readMoreButton .postName {
    color: #ff0000;
}

.postItem .postName {
    color: black;
    font-size: 1.2rem;
}

.postItem .postShortDescription {
    color: #1b1b1b;
}

.postItem .postAuthor {
    font-size: 0.8rem;
}

.postItem .postCreationDate {
    font-size: 0.8rem;
}

.transparentBg{
    background-color: transparent !important;
}

.blogList {
    padding: 2rem 0 0 0 !important;
}


.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 3px 12px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    background: #00000085;
}

.pagination a.active {
    background-color: #ff0000;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #000000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 0, 0) !important;
}

.page {
    padding: 5rem 3rem 0;
}

.img-container {
    position: relative;
    width: 601px;
}

.img-container::after {
    position: relative;
    display: block;
    content: "";
    padding-top: 45.25044%;
}

.img-container img{
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imgThumbWrapper img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px 0 0 6px;
}

.ellips-text-3 {
    display: -webkit-box;
    height: 51px;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.commentCount {
    position: absolute;
    bottom: -13px;
    left: 46px;
    background: #000000bf;
    color: white;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: bold;
}

.bg-white-trans {
    background-color: rgba(255, 255, 255, 0.91);
}

.typeCommentLabel{
    font-size: 14px;
}

.sendCommentButton {
    color: white;
    background: #000000b3;
}

.form-control {
    font-size: 14px;
    height: 38px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.deleteCommentBadge{
    width: 20px;
    height: 20px;
}

.pointer{
  cursor: pointer;
}
