<div class="p-5">
  <div class="createBlog bg-white-trans p-5 mt-5">
    <h1>Create new blog</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div asp-action="Create">
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input #title class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input #description class="form-control" />
                </div>
                <div class="form-group">
                    <input (change)="selectFile($event)" type="file" name="files" accept="image/*"/>
                </div>
                <div class="form-group">
                    <input (click)="createPost(title.value, description.value)" type="button" value="Create" class="btn btn-primary" />
                </div>
              </div>
        </div>
    </div>
  </div>
</div>
